@use "../packages/node_modules/@picocss/pico/scss/pico" with (
  // Enable <header>, <main>, <footer> inside $semantic-root-element as containers
  $enable-semantic-container: true,

  // Enable .classes
  $enable-classes: true,

  $modules: (
    "content/code": true,
    "forms/input-color": false,
    "forms/input-date": false,
    "forms/input-file": false,
    "forms/input-range": false,
    "forms/input-search": false,
    "components/accordion": false,
    "components/card": true,
    "components/dropdown": false,
    "components/loading": false,
    "components/modal": false,
    "components/nav": false,
    "components/progress": false,
    "components/tooltip": false,
    "utilities/accessibility": false,
    "utilities/reduce-motion": false
  )
  
);

@use "../packages/node_modules/@picocss/pico/scss/colors/index" as colors;

//Override classes
html {
  font-size: 1.1rem;
}

// Override container width
body {
  max-width: 1200px;  // Set your desired width
  margin: 0 auto;  // Center the container
  padding: 0 0.5rem;
}

section {
  .grid {
      display: grid;
      grid-template-columns: repeat(2, 6fr);
      grid-template-rows: 1fr;
      grid-column-gap: 4rem;
      margin-bottom: 2rem;
  }
}

header.grid {
  display: grid;
  grid-template-columns: 5fr 7fr;
  grid-template-rows: 1fr;
  grid-column-gap: 4rem;
  max-height: 420px;
  overflow: hidden;
  margin-bottom: 4rem;
}

//Experience section
.timeline {
  display: grid;
  grid-template-columns: 3fr 9fr;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;

  div {
    padding-bottom: 2rem;
  }

  .left {
    position: relative;  // Make the div a positioning context for the circle
    border-right: colors.$grey-100 0.5px solid;
    
    // Outer Circle
    &::before {
      content: "";  // Required to create the pseudo-element
      position: absolute;  // Position the circle relative to .left
      top: 10px;  // Adjust as needed to place the circle on top
      right: -6px;  // Adjust as needed to place the circle on the right
      width: 11px;  // Size of the outer circle
      height: 11px;  // Size of the outer circle
      border-radius: 50%;  // Make the element circular
      background-color: colors.$azure-300;  // Set the outer circle's color
      z-index: 1;  // Ensure the outer circle stays on top
    }
    
    // Inner Circle (White) - Centered inside the outer circle
    &::after {
      content: "";  // Required to create the pseudo-element
      position: absolute;  // Position the circle relative to .left
      top: 12px;  // Center vertically within the outer circle
      right: -4px;  // Center horizontally within the outer circle
      width: 7px;  // Size of the inner circle (smaller than the outer one)
      height: 7px;  // Size of the inner circle
      border-radius: 50%;  // Make the element circular
      background-color: #fff;  // Set the inner circle's color to white
      z-index: 2;  // Ensure the inner circle stays on top
    }
  }

}
